.saved-movies-card__delbtn {
    display: block;
    max-width: 100px;
    height: 29px;
    width: 100%;
    background-image: url(../../../images/deleteMovie.svg);
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 0 auto 0;
}

.saved-movies-card__delbtn:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 320px) {
    .saved-movies-card__delbtn {
        margin: 0 100px 0;
    }
}