.promo {
    max-width: 1280px;
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #073042;
}

.promo-content {
    max-width: 1140px;
    margin: 0px auto 0px;
}

.promo-content__container {
    max-width: 1140px;
    margin: 0px auto 0px;
    padding: 75px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.promo-content__text-content {
    max-width: 640px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
}

.promo-content__title {
    font-family: inherit;
    max-width: 640px;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.promo-content__info {
    font-family: inherit;
    max-width: 310px;
    font-weight: 300;
    font-size: 13px;
    line-height: 15.73px;
    margin: 36px 0 0;
    padding: 0;
    opacity: 50%;
    color: #FFFFFF;
}

.promo-content__logo {
    max-width: 310px;
    margin: 0;
    padding: 0;
}

.promo-content__button {
    font-family: inherit;
    width: 130px;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    background-image: url(../../../images/Langing-button.svg);
    background-color: transparent;
    background-position: 0px 0px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    margin: 84px 0px 75px;
    color: #FFFFFF;
    padding:0;
}

.promo-content__button:hover {
    opacity: 0.8;
    cursor: pointer;
}


